<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registration Confirmation</title>
</head>

<body>

	<h2>Account registered successfully!</h2>

	<!-- display first name, last name and email -->
	<ul>
		<li th:text="'Account name: ' + ${webAccount.userName}"></li>
		<li th:text="'First name: ' + ${webAccount.firstName}"></li>
		<li th:text="'Last name: ' + ${webAccount.lastName}"></li>
		<li th:text="'Email name: ' + ${webAccount.email}"></li>
	</ul>

	<hr>
	
	<a th:href="@{/showMyLoginPage}">Login with new user name</a>
	
</body>

</html>